/*-------------------------------------------------------------*/
/*-----Projects------------------------------------------------*/
/*-------------------------------------------------------------*/
@import "/src/scss/modules/variables";

.projects__title {
  margin-bottom: 15px;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 20px;
}

.projects__item {
  display: flex;
  flex: 0 1 30%;
  flex-direction: column;
  background-color: $dark-light-color-2;
  color: $white-color;
  border-radius: 10px;
  padding: 0px 0px 10px 0px;

  @media (max-width: 1024px) {
    flex: 1 1 40%;
  }

  @media (max-width: 768px) {
    flex: 1 1 100%;
  }
}

.projects__image {
  margin-bottom: 15px;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.projects__item a {
  position: relative;
  transition: 0.5s;
  &:hover {
    .projects__image {
      filter: brightness(0.6);
    }
    .projects__icon {
      display: block;
    }
  }
}

.projects__icon {
  font-size: 35px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.projects__name {
  font-size: 20px;
  text-align: center;
}

.test {
  width: 30px;
  height: 30px;
  fill: red;
}
