/*-------------------------------------------------------------*/
/*-----Projects------------------------------------------------*/
/*-------------------------------------------------------------*/
@import "/src/scss/modules/variables";
._order {
  order: 1;
}

.projects {
  padding: 0;
  margin: 0;
  margin-bottom: 120px;
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin-bottom: 100px;

  @media (max-width: 900px) {
    gap: 120px;
  }
}

.projects__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));

  @media (max-width: 900px) {
    justify-content: flex-start;
  }
}

.project__image {
  flex: 1 0 10%;
  @media (max-width: 900px) {
    flex: 1 0 100%;
    order: 0;
  }
}

.project__info {
  flex: 1 0 5%;
  @media (max-width: 900px) {
    flex: 1 0 100%;
  }
}

.project__title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.project__description {
  font-size: 18px;
  margin-bottom: 10px;
}

.project__tools {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 5px;
  margin-bottom: 15px;
}

.project__tool {
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 10px;
}

.project__links {
  display: flex;
  gap: 10px;
}

.projects__button {
  background-color: transparent;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 260px;
  border-radius: 15px;
  padding: 15px 35px;
  border: 1px solid gray;
  transition: all 0.5s ease;

  &:hover{
    background-color: gray;
  }

}
