.about {
  margin-top: 80px;
  padding: 0px 5px;
  &__content {
    display: flex;
    gap: 40px 40px;
    @media (max-width: 945px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__image {
    border-radius: 10px;
    max-width: 400px;
    @media (max-width: 490px) {
      max-width: 350px;
    }
    @media (max-width: 375px) {
      max-width: 280px;
    }
  }

  &__paragraph {
    font-size: 20px;
    line-height: 150%;
    font-family: "Roboto", sans-serif;
    text-indent: 30px;
  }
}
