/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/
@import "/src/scss/modules/variables";

.footer {
  background-color: rgb(24, 27, 31);
  padding: 25px 0px;
  margin-top: 10px;
}

.footer__list {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  align-items: center;
  gap: 20px 20px;
  @media (max-width: 500px) {
    justify-content: center;
  }
}

.footer__list-contacts {
  flex: 1 1 50%;
}

.footer__list-links {
  flex: 1 1 50%;
  display: flex;
  gap: 10px 15px;
}

.footer__copyright {
  margin-bottom: 15px;
  margin: 25px auto 0 auto;
  text-align: center;
  color: $white-color;
  font-size: 18px;
}

._icon {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}
