/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/
@import "/src/scss/modules/variables";

.footer {
  background-color: rgb(24, 27, 31);
  padding: 25px 0px;
  margin-top: 10px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  align-items: center;
  gap: 20px 20px;
  @media (max-width: 500px) {
    justify-content: center;
  }
}

.footer__list-links {
  flex: 1 1 50%;
  display: flex;
  gap: 10px 15px;
}


._icon {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}
