.experience__main-cont {
  margin-top: 80px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience__container {
  width: 90%;
  max-width: 1080px;
  padding: 0 10%;
}

.experience__container::after {
  content: "";
  display: table;
  clear: both;
}

//////////////////////////////////////////////////////
// Main components
//////////////////////////////////////////////////////

.experience__timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.experience__timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #007ced;
}

@media (min-width: 1170px) {
  .experience__timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .experience__timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.experience__timeline-block {
  position: relative;
  margin: 2em 0;
}

.experience__timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.experience__timeline-block:first-child {
  margin-top: 0;
}
.experience__timeline-block:last-child {
  margin-bottom: 0;
}

@media (min-width: 1170px) {
  .experience__timeline-block {
    margin: 4em 0;
  }
  .experience__timeline-block:first-child {
    margin-top: 0;
  }
  .experience__timeline-block:last-child {
    margin-bottom: 0;
  }
}

.experience__timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #007ced, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.experience__timeline-img {
  background: #007ced;
}
@media (min-width: 1170px) {
  .experience__timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.experience__timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #323232;
  border-radius: 2px;
  padding: 1em;
  text-align: left !important;
}

.experience__timeline-content,
.experience__content-info {
  background: #323232;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  border-radius: 2px;
  text-align: left;
}

.experience__timeline-content,
.experience__content-info,
i {
  margin-right: 5px;
}
.experience__timeline-content,
.experience__content-info,
.experience__content-info-title,
.experience__content-info-date {
  width: calc(50% - 2px);
  display: inline-block;
}

.experience__timeline-content {
  font-size: 12px;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience__timeline-content {
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  color: rgba(255, 255, 255, 0.7);
  margin: 3px 2px;
  text-align: center;
  flex-grow: 1;
}

.experience__timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.experience__timeline-content h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 5px;
}
.experience__timeline-content p,
.experience__timeline-content .cd-date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.experience__timeline-content .cd-date {
  display: inline-block;
}
.experience__timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.experience__timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333c42;
}

@media (min-width: 768px) {
  .experience__timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .experience__timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .experience__timeline-content .cd-read-more,
  .experience__timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media (min-width: 1170px) {
  .experience__timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%;
  }
  .experience__timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333c42;
  }
  .experience__timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .experience__timeline-block:nth-child(even) .experience__timeline-content {
    float: right;
  }
  .experience__timeline-block:nth-child(even)
    .experience__timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333c42;
  }
  .experience__timeline-block:nth-child(even)
    .experience__timeline-content
    .cd-read-more {
    float: right;
  }
  .experience__timeline-block:nth-child(even)
    .experience__timeline-content
    .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

.work__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 590px) {
    font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (590 - 320)));
  }
}

.work__role {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.work__duration {
  font-size: 14px;
  width: 100%;
}

.work__des-list {
  margin-bottom: 10px;
  padding-left: 5px;
}

.work__des-item {
  font-size: 16px;
}

.work__des-item-point {
  font-size: 20px;
}

.work__tools {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.work__tool {
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
//

@media (max-width: 1169px) {
  .experience__timeline-block {
    margin-bottom: 80px;
  }
  .experience__timeline-content {
    left: 80px;
    padding: 20px;
    color: white;
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 645px) {
  .experience__main-cont {
    justify-content: flex-start;
  }

  .experience__timeline-content {
    left: 65px;
    padding: 20px;
    color: white;
    width: 100%;
    max-width: calc(220px + (520 - 220) * ((100vw - 320px) / (645 - 320)));
  }

  .work__duration {
    padding: 0;
  }
}
