/*-------------------------------------------------------------*/
/*-----Scroll animation----------------------------------------*/
/*-------------------------------------------------------------*/

/// Slides bottom
._anim-slides-bottom {
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 1s ease 0.2s;
}

/// Slides left

._anim-slides-left {
  transform: translate(-120%, 0);
  opacity: 0;
  transition: all 1.2s ease 0s;
}

/// Slides right

._anim-slides-right {
  transform: translate(120%, 0);
  opacity: 0;
  transition: all 1.2s ease 0s;
}

/// Slides right

._anim-slides-right {
  transform: translate(120%, 0);
  opacity: 0;
  transition: all 1.2s ease 0s;
}

/*-------------------------------------------------------------*/
/*-----tracking-in-contract------------------------------------*/
/*-------------------------------------------------------------*/
._active.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
///flip-in-hor-bottom

._active .flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.projects__item {
  -webkit-transform: rotateX(80deg);
  transform: rotateX(80deg);
  opacity: 0;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

/// scale-up-center
.about__image {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

._active .scale-up-center {
  -webkit-animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

._active.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

////////////////////////////////////////////////////////////////////////////
._anim-slides-bottom._active,
._active ._anim-slides-bottom,
._anim-slides-left._active,
._active ._anim-slides-left,
._anim-slides-right._active,
._active ._anim-slides-right {
  transform: translate(0px, 0px);
  opacity: 1;
}
