/*-------------------------------------------------------------*/
/*-----Variable declaration------------------------------------*/
/*-------------------------------------------------------------*/

$white-color: #ffffff;
$black-color: #000000;
$gray-color: rgb(47, 55, 66);
$complementary-color: #007ced;
$dark-light-color: #222222;
$dark-light-color-2: #333333;
$background-color: #121212;
