@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #2f3742;
}

section {
  background-color: #e7e7e9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 35px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  font-size: 16px;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

pre {
  padding: 0px 20px 20px 20px;
}

code {
  font-family: "Courier New", "Courier", monospace;
  border-radius: 10px;
  font-size: 16px;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/
._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  margin: 6px 0px;
}

._link {
  color: white;
}

._link:hover {
  color: #13a34d;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/
.header {
  background-color: #242930;
  padding: 15px 0px;
  margin-bottom: 15px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px 20px;
}

.menu__link {
  font-size: 20px;
  line-height: 150%;
  color: white;
}

.menu__link:hover {
  color: #13a34d;
}

.greetings {
  text-align: center;
}

.greetings__my-photo {
  padding: 10px 0px;
}

.greetings__image {
  text-align: center;
  width: 300px;
  border-radius: 50%;
}

@media (max-width: 359px) {
  .greetings__image {
    width: 270px;
  }
}

.greetings__name {
  font-size: 48px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  margin: 6px 0px;
}

.greetings__qualification {
  font-size: 35px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  margin: 6px 0px;
}

/*-------------------------------------------------------------*/
/*-----About---------------------------------------------------*/
/*-------------------------------------------------------------*/
.about__paragraph {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
  text-indent: 30px;
}

/*-------------------------------------------------------------*/
/*-----Skills--------------------------------------------------*/
/*-------------------------------------------------------------*/
.skills__item {
  line-height: 180%;
  padding-left: 15px;
}

.skills__html::before {
  content: "";
  background: url("../assets/img/html-5.png") no-repeat;
  font-size: 20px;
  padding-left: 30px;
  background-size: contain;
}

.skills__css::before {
  content: "";
  background: url("../assets/img/css-3.png") no-repeat;
  font-size: 20px;
  padding-left: 30px;
  background-size: contain;
}

.skills__sass::before {
  content: "";
  background: url("../assets/img/sass.png") no-repeat;
  font-size: 20px;
  padding-left: 30px;
  background-size: contain;
}

.skills__js::before {
  content: "";
  background: url("../assets/img/js.png") no-repeat;
  font-size: 20px;
  padding-left: 30px;
  background-size: contain;
}

.skills__git::before {
  content: "";
  background: url("../assets/img/github-2.png") no-repeat;
  font-size: 20px;
  padding-left: 30px;
  background-size: contain;
}

.skills__vs::before {
  content: "";
  background: url("../assets/img/visual-studio.png") no-repeat;
  font-size: 20px;
  padding-left: 30px;
  background-size: contain;
}

.skills__figma::before {
  content: "";
  background: url("../assets/img/figma.png") no-repeat;
  font-size: 20px;
  padding-left: 30px;
  background-size: contain;
}

/*-------------------------------------------------------------*/
/*-----Strengths-----------------------------------------------*/
/*-------------------------------------------------------------*/
.strengths__item {
  line-height: 180%;
  padding-left: 15px;
}

.strengths__item::before {
  content: "";
  background: url("../assets/img/check-mark.png") no-repeat;
  font-size: 20px;
  padding-left: 30px;
  background-size: contain;
}

/*-------------------------------------------------------------*/
/*-----Code example--------------------------------------------*/
/*-------------------------------------------------------------*/
.code-example__link {
  font-size: 24px;
  color: black;
  display: none;
}

.code-example__link:hover {
  color: #13a34d;
}

@media (max-width: 787px) {
  .code-example__code {
    display: none;
  }
  .code-example__link {
    display: block;
  }
}

/*-------------------------------------------------------------*/
/*-----Projects------------------------------------------------*/
/*-------------------------------------------------------------*/
.projects__title {
  margin-bottom: 15px;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 20px;
}

.projects__item {
  position: relative;
}

.projects__image {
  width: 400px;
  border-radius: 10px;
}

@media (max-width: 460px) {
  .projects__image {
    width: 320px;
  }
}

.projects__item a:hover .projects__image {
  -webkit-filter: brightness(0.6) drop-shadow(12px 12px 15px blue);
          filter: brightness(0.6) drop-shadow(12px 12px 15px blue);
}

.projects__item a:hover .projects__subtitle {
  display: block;
}

.projects__subtitle {
  font-size: 20px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/
.footer {
  background-color: #181b1f;
  padding: 25px 0px;
  margin-top: 10px;
}

.footer__list {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 20px;
}

@media (max-width: 500px) {
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__list-contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.footer__list-links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 10px;
}

._icon {
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=style.css.map */