@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
  font-size: 16px;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
}
ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}
body {
  margin: 0px;
  background-color: rgb(47, 55, 66); //rgb(229, 229, 229); ; //#4A90E2;
}
pre {
  padding: 0px 20px 20px 20px;
}
code {
  font-family: "Courier New", "Courier", monospace;
  border-radius: 10px;
  font-size: 16px;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  margin: 6px 0px;
}

._link {
  color: white;
  &:hover {
    color: rgb(19, 163, 77);
  }
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/

section {
  background-color: #e7e7e9; //rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 35px;
}

.text {
  font-size: 18px;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: rgb(36, 41, 48);
  // #495e70; //#4c6071;
  padding: 15px 0px;
  margin-bottom: 15px;
}
.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__link {
    font-size: 20px;
    line-height: 150%;
    color: white;
    &:hover {
      color: rgb(19, 163, 77);
    }
  }
}

.greetings {
  text-align: center;
  &__my-photo {
    padding: 10px 0px;
  }
  &__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  &__name {
    font-size: 48px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 150%;
    margin: 6px 0px;
  }
  &__qualification {
    font-size: 35px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 150%;
    margin: 6px 0px;
  }
}

.skills__item {
  line-height: 180%;
  padding-left: 15px;
}
.skills__html {
  &::before {
    content: "";
    background: url("../assets/img/html-5.png") no-repeat;
    font-size: 20px;
    padding-left: 30px;
    background-size: contain;
  }
}

.skills__css {
  &::before {
    content: "";
    background: url("../assets/img/css-3.png") no-repeat;
    font-size: 20px;
    padding-left: 30px;
    background-size: contain;
  }
}

.skills__sass {
  &::before {
    content: "";
    background: url("../assets/img/sass.png") no-repeat;
    font-size: 20px;
    padding-left: 30px;
    background-size: contain;
  }
}

.skills__js {
  &::before {
    content: "";
    background: url("../assets/img/js.png") no-repeat;
    font-size: 20px;
    padding-left: 30px;
    background-size: contain;
  }
}

.skills__git {
  &::before {
    content: "";
    background: url("../assets/img/github-2.png") no-repeat;
    font-size: 20px;
    padding-left: 30px;
    background-size: contain;
  }
}

.skills__vs {
  &::before {
    content: "";
    background: url("../assets/img/visual-studio.png") no-repeat;
    font-size: 20px;
    padding-left: 30px;
    background-size: contain;
  }
}

.skills__figma {
  &::before {
    content: "";
    background: url("../assets/img/figma.png") no-repeat;
    font-size: 20px;
    padding-left: 30px;
    background-size: contain;
  }
}

.strengths__item {
  line-height: 180%;
  padding-left: 15px;
  &::before {
    content: "";
    background: url("../assets/img/check-mark.png") no-repeat;
    font-size: 20px;
    padding-left: 30px;
    background-size: contain;
  }
}

/*-------------------------------------------------------------*/
/*-----Code example--------------------------------------------*/
/*-------------------------------------------------------------*/
.code-example__link {
  font-size: 24px;
  color: rgb(0, 0, 0);
  display: none;
  &:hover {
    color: rgb(19, 163, 77);
  }
}
@media (max-width: 787px) {
  .code-example__code {
    display: none;
  }
  .code-example__link {
    display: block;
  }
}

/*-------------------------------------------------------------*/
/*-----Projects------------------------------------------------*/
/*-------------------------------------------------------------*/
.projects__title {
  margin-bottom: 15px;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 20px;
}
.projects__item {
  position: relative;
}

.projects__image {
  //flex: 1 1 33%;
  width: 400px;
  border-radius: 10px;
  @media (max-width: 460px) {
    width: 320px;
  }
}

.projects__item a {
  &:hover {
    .projects__image {
      filter: brightness(0.6) drop-shadow(12px 12px 15px blue);
    }
    .projects__subtitle {
      display: block;
    }
  }
}
.projects__subtitle {
  font-size: 20px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

.text__link {
  &:hover {
    color: rgb(24, 27, 31);
  }
}

/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/

.footer {
  background-color: rgb(24, 27, 31);
  padding: 25px 0px;
  margin-top: 10px;
}

.footer__list {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  align-items: center;
  gap: 20px 20px;
  @media (max-width: 500px) {
    justify-content: center;
  }
}
.footer__list-contacts {
  flex: 1 1 50%;
}
.footer__list-links {
  flex: 1 1 50%;
  display: flex;
  gap: 10px 10px;
}
// filter: brightness(0.6) drop-shadow(12px 12px 15px blue);

._icon {
  width: 40px;
  height: 40px;
}
